nav {  
    display: block;  
    margin-bottom: 10px;  
}  
nav ul {  
    list-style: none;  
    font-size: 14px;  
}  
nav ul li {  
    display: inline;  
}  
nav ul li a {  
    display: block;  
    float: left;  
    padding: 3px 6px;  
    color: #575c7d;  
    text-decoration: none;  
    font-weight: bold;  
}  

nav ul li a:hover {  
    background: #deff90;  
    color: #485e0f;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    padding: 3px 6px;  
    margin: 0;  
    text-decoration: none;  
}

nav .active a {  
    background: #9EA0FC;  
}

div#content {  
    display: block;  
    clear: both;  

    margin: 5px;  
    padding: 10px;
} 